*{
    cursor: url('gun-icon.png'), default;
}

#money_1, #money_2, #money_20, #money_50 {
    width: 50px;
    height: 50px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    cursor: all-scroll;
}

#money_5 {
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 150px;
    height: 75px;
    cursor: all-scroll;
}


#div2 {
    width: 200px;
    height: 100px;
    border: 1px solid black;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}


.money-container {
    transition: transform ease 0.6s;
    width: 370px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    background-image: url("wallet.png");
    background-size: cover;
    height: 125px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.machine-container{
    background-image: url("machine.png");
    background-size: cover;
    display: flex;
    width: 1500px;
    height: 1800px;

}

.vending-machine {
    width: 65%;
    height: 100%;
    background-size: cover;
}


.keypad {
    display: block;
    border-spacing: 15px;
    background-color: #c2c2c2;
    width: 200px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;

}

.keypad tr{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0065C1;
    width: 170px;
    height: 70px;
    
}



.keypad input {
    border-radius: 10px;
    color: white;
    background-color: red;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    cursor: url('gun-icon.png'), crosshair;	
    
}

.keypad input:hover {
    
    color: red;
    background-color: white;
}

.extra-buttons input{
    color: white;
    background-color: #0065C1;
    padding: 15px;
    font-size: 15px;
    border-radius: 20px;
    
    
}

.extra-buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70px;
    margin-right: auto;
    margin-left: auto;
}



.side-panel{
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 300px;
    
    
}

.switch{
    transition: transform ease 0.6s;
    transform: scale(2) translateY(40px);
}

.money-counter {
    display: flex;
    background-image: linear-gradient(green, #c4d816);
    border-color: darkgreen;
    border: 3px;
    border-style: solid;
    border-radius: 10px;
}

#moneyin {
    padding-left: 20px;
    font-size: 20px;
    color: #102802;
    font-weight: bold;
}

#moneyinside {
    padding-left: 20px;
    font-size: 20px;
    color: #102802;
    font-weight: bold;
}

.admin{
    border-radius: 20px;
    background-color: black;
    height: 30px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.admin-ui{
    
    opacity: 0;
    width: 0;   
    position: fixed;
    height: 100%;
    background-color:#0065C1;
    overflow-x: hidden;
    right: 0;
    bottom: 0; 
    transition: ease 0.8s;
    

}

.admin-ui h1{
    font-size: 5vh;
    width: 30vh;
    overflow-x: hidden;
    color: white;
    position: relative;
    margin-left: 20vh;
    text-align: center;
    
    
}

.admin-display{
    opacity: 1;
    transition: ease 0.8s;
    width: 70vh;
    position: fixed;
    
    

}

.admin-display h1 {
    overflow-x: hidden;
    font-size: 5vh;
    cursor: default;
    width: 30vh;
    margin-left: 20vh;
    color: white;
    position: initial;
    text-align: center;
}

.admin-ui p,h2{
    overflow-x: hidden;
    font-size: 3vh;
    cursor: default;
    width: 30vh;
    margin-left: 20vh;
    color: white;
    position: initial;
    
}

.ui-info-container p{
    overflow-x: hidden;
    font-size: 3vh;
    cursor: default;
    color: white;
    position: initial;
    width: initial;
}

.close-admin{
    position: relative;
    top: 1vh;
    left: 60vh;
    height: 3vh;
    width: 3vh;
    cursor: pointer;
}

.ui{

    height: 100%;
    width: 30vh;
    overflow-x: hidden;
    
    
    
}

.admin-button{
    height: 4vh;
    width: 4vh;
    background-color: red;
    border: 0.4vh;
    border-style: solid;
    border-color: white;
    padding: 0;
    border-radius: 2vh;
    color: white;
}

.admin-button-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    
}

#item-counter-p{
    margin-left: 0;
}

.ui-info-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    width: 30vh;
    overflow-x: hidden;
    font-size: 5vh;
    margin-left: 20vh;
    overflow-y: hidden;
    
    
}

#wallet-change{
    width: 30vh;
    overflow-x: hidden;
    font-size: 5vh;
    margin-left: 20vh;
    overflow-y: hidden;
    height: 4vh;
}

.ui-info-container-close {
    margin-left: 20vh;
    width: 30vh;
}

.ui-info-container p{
    color: white;
}

.item-display-image {
    width: 50px;
}


ul{
	position: absolute;	

}

#password-area{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}